{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mikia">
    <title>Mikia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="position-relative p-0">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">MIKIA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-xxl hero-header">
            <div class="container px-lg-5">
                <div class="tab-bar">
                    <div class="row">
                        <div class="tab-content col-md-8">
                            <div class="tab-pane active">
                                <h1 class="titre">Testimonial 1</h1>
                                <div class="avi">
                                    <div class="photo">
                                        <img class="photo-cost" src="img/costumer.jpg">
                                    </div>
                                    <div class="avi-body">
                                        <h4 class="name-cost">NAME SURNAME 1</h4>

                                        <p class="avis-cost"> “ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum."
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <h1 class="titre">Testimonial 2</h1>
                                <div class="avi">
                                    <div class="photo">
                                        <img class="photo-cost" src="img/costumer.jpg">
                                    </div>
                                    <div class="avi-body">
                                        <h4 class="name-cost">NAME SURNAME 2</h4>

                                        <p class="avis-cost"> “ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum."
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <h1 class="titre">Testimonial 3</h1>
                                <div class="avi">
                                    <div class="photo">
                                        <img class="photo-cost" src="img/costumer.jpg">
                                    </div>
                                    <div class="avi-body">
                                        <h4 class="name-cost">NAME SURNAME 3</h4>

                                        <p class="avis-cost"> “ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum."
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <h1 class="titre">Testimonial 4</h1>
                                <div class="avi">
                                    <div class="photo">
                                        <img class="photo-cost" src="img/costumer.jpg">
                                    </div>
                                    <div class="avi-body">
                                        <h4 class="name-cost">NAME SURNAME</h4>

                                        <p class="avis-cost"> “ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum."
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="menus">Tetimoanials</h2>
                            <div class="tab-menu">
                                <a href="#" class="tab-link active">Testimonial 1</a>
                                <a href="#" class="tab-link">Testimonial 2</a>
                                <a href="#" class="tab-link">Testimonial 3</a>
                                <a href="#" class="tab-link">Testimonial 4</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>

</html>